<!DOCTYPE html>
<html lang='en' ng-app='oduacm'>

<head>
  <meta charset="utf-8">
  <meta name="description" content="Site for Old Dominion University Association for Computing Machinery">
  <meta name="keywords" content="Old Dominion University, ODU, ACM, Association for Computing Machinery">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ODU ACM</title>
  <link rel='stylesheet' href='public/lib/angular-material/angular-material.min.css' />
  <link rel='stylesheet' href='public/lib/font-awesome/css/font-awesome.min.css' />

  <link rel='stylesheet' href='public/css/style.css' />
</head>

<body ng-controller="MainCtrl">

  <div style="width:100%;position:fixed !important;z-index:10000">
    <md-button ng-click="(authData === null)?login('google'):logout()" class="md-icon-button md-primary md-raised" style='float:right'>
      <md-icon ng-if='authData === null' md-font-icon="fa-sign-in" class="fa fa-2x" style='color: #FFF;'></md-icon>
      <md-icon ng-if='authData !== null' md-font-icon="fa-sign-out" class="fa fa-2x" style='color: #FFF;'></md-icon>
    </md-button>
  </div>

  <div id="hero">
    <div class="header">
      <h1 style="margin-bottom: 0px;">OLD DOMINION UNIVERSITY ACM
        <small style='font-size:0.5em;color:#999;'><br/>Site still a Work in Progress</small>
      </h1>
      <md-button ng-href='#learnMore' class="md-raised md-primary"><b>Learn More</b></md-button>
      <md-button ng-href='#getInvolved' class="md-raised md-warn"><b>Get Involved</b></md-button>
    </div>
  </div>

  <div id="learnMore">
    <md-toolbar class="md-warn">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">What is the ODU ACM?</h2>
      </div>
    </md-toolbar>
    <md-content class='md-padding'>
      <md-card>
        <div style='height:400px;width:100%;overflow:hidden'>
          <img ng-src="public/img/LHD15_2.jpg" class="md-card-image" alt="Washed Out" style='margin-top:-450px'>
        </div>
        <md-card-content>
          <h2 class="md-title">Description</h2>
          <p style='width: 90%;margin-left:5%;margin-right:5%;font-size:1.25em;'>
            ACM is the world’s largest educational and scientific computing society uniting the world's computing educators, researchers and professionals to inspire dialogue, share resources and address the field's challenges. ACM strengthens the profession's collective
            voice through strong leadership, promotion of the highest standards, and recognition of technical excellence. ACM supports the professional growth of its members by providing opportunities for life-long learning, career development, and professional
            networking.
          </p>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-content>
          <h2 class="md-title">Officers</h2>
            <md-list>
              <md-subheader class="md-no-sticky">Currently 5 Officers</md-subheader>
              <md-list-item class="md-3-line md-long-text">
                <img src="public/img/chris.jpg" class="md-avatar" alt="Chris Bliss" style='width: 10%; height:10%;'/>
                <div class="md-list-item-text" layout="column">
                  <h3>Chris Bliss</h3>
                  <h4>President</h4>
                  <p>
                    I am an innovator and collaborator. I love this field because it offers us the chance to be at the forefront of groundbreaking technologies. I don't care if my name is in the history books, I just want to change the world for the better.
                  </p>
                </div>
              </md-list-item>
              <md-list-item class="md-3-line md-long-text">
                <img src="public/img/joanna.jpg" class="md-avatar" alt="Joanna Borba" style='width: 10%; height:10%;'/>
                <div class="md-list-item-text" layout="column">
                  <h3>Joanna Borba</h3>
                  <h4>Vice President</h4>
                  <p>
                    I'm just your typical female computer science major trying to find her way through the male dominated field. I am a current sophomore at ODU who plans to one day work on continuing the progress of technology when it comes to gene mapping. When I am not
                    consumed with school and extracurriculars I can be found next to a bottle of Mtn Dew with a video game controller in my hand
                  </p>
                </div>
              </md-list-item>
              <md-list-item class="md-3-line md-long-text">
                <img src="public/img/joshua.jpg" class="md-avatar" alt="Joshua Harris" style='width: 10%; height:10%;'/>
                <div class="md-list-item-text" layout="column">
                  <h3>Joshua Harris</h3>
                  <h4>Secretary</h4>
                  <p>
                    Joshua Harris is a Junior from Virginia Beach who loves web applications. His focus is more on the backend, mostly using Nodejs and php. Over the summer he had an internship at NASA creating web applications, using Docker/Amazon web services for deployment. He is active in the local developer community, often attending meetups and events. Github profile @joshuajharris
                  </p>
                </div>
              </md-list-item>
              <md-list-item class="md-3-line md-long-text">
                <img src="public/img/asim.jpg" class="md-avatar" alt="Asim Amjad" style='width: 10%; height:10%;'/>
                <div class="md-list-item-text" layout="column">
                  <h3>Asim Amjad</h3>
                  <h4>Treasurer</h4>
                  <p></p>
                </div>
              </md-list-item>
              <md-list-item class="md-3-line md-long-text">
                <img src="public/img/avinash.jpg" class="md-avatar" alt="Avinash Gosavi" style='width: 10%; height:10%;'/>
                <div class="md-list-item-text" layout="column">
                  <h3>Avinash Gosavi</h3>
                  <h4>Webmaster</h4>
                  <p></p>
                </div>
              </md-list-item>
            </md-list>
        </md-card-content>
      </md-card>
    </md-content>
  </div>

  <div id='getInvolved'>
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">How to Get Involved</h2>
      </div>
    </md-toolbar>
    <md-content class='md-padding'>
      <md-card>
        <!-- <img ng-src="img/LHD15_2.jpg" class="md-card-image" alt="Washed Out"> -->
        <md-card-content>
          <h2 class="md-title">Slack</h2>
          <img ng-src="public/img/slack_screen.png" class="md-card-image" alt="Washed Out">
          <p>
            The best way to get involved is to join our slack team. Request an invitation
          </p>
        </md-card-content>
      </md-card>
      <md-card ng-controller='EventsCtrl'>
        <md-card-content>
          <h2 class="md-title">Go to Events</h2>
          <md-progress-circular style='margin: 0 auto' md-mode="indeterminate" ng-if='isLoading'></md-progress-circular>
          <md-tabs md-dynamic-height md-border-bottom>
            <md-tab ng-repeat='event in events' label="{{event.title}}">
              <md-content class="md-padding">
                <h1 class="md-display-2">
                  {{event.title}}
                  <br/>
                  <small>
                    {{event.location.address}}, {{event.location.city}}, {{event.location.state}}, {{event.location.zip}}
                  </small>
                </h1>
                <p>{{event.description}}</p>
                <md-button ng-click='joinEvent(event.$id)' class="md-raised md-primary"><b>I'm Going</b></md-button>
                <md-button ng-click='cancelEvent(event.$id)' class="md-raised md-warn"><b>Cancel</b></md-button>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-card-content>
      </md-card>
    </md-content>
  </div>
  <!-- Projects -->
  <div id='projects'>
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Student Projects</h2>
      </div>
    </md-toolbar>
    <md-content class='md-padding'>
      <md-card>
        <md-card-content>
          <h2 class="md-title">Test Project 1</h2>
          <img ng-src="public/img/plumber.jpg" class="md-card-image" style="width: 25%" alt="No Image :(">
          <p>
            Project 1 Description
          </p>
        </md-card-content>
      </md-card>
  </div>
  <div id='contact'>
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Contact</h2>
      </div>
    </md-toolbar>
    <md-content class='md-padding'>
      <md-card>
        <!-- <img ng-src="img/LHD15_2.jpg" class="md-card-image" alt="Washed Out"> -->
        <md-card-content>
          <h2 class="md-title">Info</h2>
          <form action="http://formspree.io/acm@cs.odu.edu" method="POST">
            <md-input-container>
              <label>Your Name</label>
              <input name="name">
            </md-input-container>
            <md-input-container>
              <label>Email Address (Required)</label>
              <input type="email" name="_replyto" ng-required='true'>
            </md-input-container>
            <md-input-container>
              <label>Enter a Message</label>
              <textarea name="message" rows="2"></textarea>
            </md-input-container>
            <md-button type='submit' value='Send' class='md-raised md-primary'>
              <b>Submit</b>
            </md-button>
          </form>
        </md-card-content>
      </md-card>
    </md-content>
  </div>


  <footer>
    <div style='float:left'>
      <a class="git-link" target="_blank" href="https://github.com/oduacm"><i class="fa fa-github fa-5x"></i></a>
      <a class="git-link" target="_blank" href="https://twitter.com/monarchshack"><i class="fa fa-twitter fa-5x"></i></a>
      <a class="git-link" target="_blank" href="https://instagram.com/oduacm/"><i class="fa fa-instagram fa-5x"></i></a>
    </div>
    <div style='float:right;margin-right:1%'>
      <p><b>ODU ACM 2015</b></p>
    </div>
  </footer>

  <script src='public/lib/angular/angular.min.js'></script>
  <script src='public/lib/angular-animate/angular-animate.min.js'></script>
  <script src='public/lib/angular-aria/angular-aria.min.js'></script>
  <script src='public/lib/angular-material/angular-material.min.js'></script>
  <script src='public/lib/firebase/firebase.js'></script>
  <script src='public/lib/angularfire/dist/angularfire.min.js'></script>

  <script src='public/js/app.js'></script>
</body>

</html>
